@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-center {
  display: flex;
  justify-content: center;
}

@mixin flex-column-center {
  display: flex;
  align-items: center;
}