@use "variables" as *;
@use "functions" as *;
@use "mixins" as *;

body {
  margin: 0;
  background-color: $bg-color;
  color: $text-color;
}

a {
  text-decoration: none;
  display: inline-block; 
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}