@use "variables" as *;
@use "functions" as *;

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  background-color: lighten($color: $bg-color, $amount: 10%);
  color: $text-color;
}

a {
  text-decoration: none;
}
