@use "../abstracts/" as *;

// main container for the page
.books {
  gap: rem(40);
  padding-block: rem(55);

  @include tablet {
    padding-bottom: rem(100);
  }
}

.books__header {
  font-size: rem(27.5);
  font-weight: 500;
  letter-spacing: -0.05rem;
  line-height: 1.25;

  > span {
    @include grad-text;
    font-weight: 600;
  }
}

.books__grid {
  display: flex;
  gap: rem(80);
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}


.books__main {
  margin-top: 2rem;
  
  @include desktop {
    min-height: 60dvh;
  }
}