@use "../abstracts/" as *;

.book__card {
  position: relative;
  @include flex-column-center;
  gap: rem(25);
  min-width: rem(279); //! hardcoded value, should be changed
  max-width: rem(375);
  width: max-content;
  padding: rem(25);

  background-color: #12151c;
  border-radius: rem(4);
  isolation: isolate;
  overflow: hidden;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: rem(2);
    background: linear-gradient(45deg, #007cf0, #00dfd8);
  }

  & div:nth-last-child(2) {
    margin-bottom: rem(37);
  }
}

.book__title {
  font-size: rem(19.2);
  font-weight: 400;
  margin: rem(3) 0 rem(1) 0;
}

.book__image {
}

.book__info {
}

.book__author {
  font-size: rem(14.33);
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.00894rem;
}

.book__date {
  color: #ced5d691;
  font-size: rem(13.3);
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.00831rem;
}

.btnGroup {
  display: flex;
  flex-wrap: wrap;
  gap: rem(20);
  padding: 0 rem(5);
}

.book__openChapter {
  @include flex-row-center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #c6c6c6;

  &__btn {
    @include flex-column-center;
    gap: rem(5);
    flex-grow: 1;
    padding: rem(10);
    transition: color 150ms;

    &:hover {
      color: lighten(#c6c6c6, 10%);
    }
  }

  &__text {
    font-size: rem(11);
    font-weight: 400;
  }

  &__icon {
  }
}
