@use "../abstracts/" as *;

// main container for the page
.books {
  gap: rem(40);
  padding-block: rem(55);

  @include tablet {
    padding-bottom: rem(100);
  }

  // to show full width pdf
  &.readOnline__fullView {
    padding-inline: 0;

    & > :not(.readOnline__section) {
      padding: var(--main-padding);
    }
  }
}

.books__header {
  font-size: rem(27.5);
  font-weight: 500;
  letter-spacing: -0.05rem;
  line-height: 1.25;

  > span {
    @include grad-text;
    font-weight: 600;
  }

  &.secondary > span {
    @include grad-text(var(--purple-pink-grad));
  }
}

.books__grid {
  display: flex;
  gap: rem(80);
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.readOnline__section {
  margin-top: 2rem;
  min-height: 10dvh;

  @include tablet {
    min-height: 30dvh;
  }

  @include desktop {
    min-height: 60dvh;
  }
}
