@use "../abstracts/" as *;

.breadcrumb {
  --breadcrumb-gap: 2.4rem; // 32px
  display: flex;
  gap: var(--breadcrumb-gap);
  width: max-content;
  padding: rem(8) rem(15);

  &Primary {
    padding-left: 0;
  }

  &Secondary {
    // background-color: #12151c;
    border-radius: rem(4);
  }
}

.breadcrumb__item {
  --separator-width: 0.5rem;

  position: relative;
  font-size: rem(12.8);
  text-transform: capitalize;

  &:not(:last-child)::after {
    content: "·";
    color: var(--cyan);
    position: absolute;
    transform: translate(
      calc((var(--breadcrumb-gap) - var(--separator-width)) / 2),
      1px
    );
  }

  > a {
    @include hover {
      text-decoration: underline;
      text-underline-offset: rem(2);
    }
  }
}

.breadcrumbPrimary .breadcrumb__item {
  &:not(:last-child)::after {
    content: "/";
  }
}

.breadcrumbSecondary .breadcrumb__item {
  --separator-width: 1.125rem; // svg icon width is 18px = 1.125rem

  &:not(:last-child)::after {
    content: url("/images/chevron-right-cyan.svg");
  }
}
