@use "../abstracts/" as *;

.breadcrumb {
  --breadcrumb-gap: 2.4rem; // 32px
  display: flex;
  gap: var(--breadcrumb-gap);
  width: max-content;
  padding: rem(10) rem(23);
  padding-left: 0;
  // background-color: #12151c;
  border-radius: rem(4);
}

.breadcrumb__item {
  --separator-width: 0.5rem;

  position: relative;
  font-size: rem(12.8);

  &:not(:last-child)::after {
    position: absolute;
    content: "/"; // can also use the chevron-right-cyan icon
    color: cyan;
    transform: translate(
      calc((var(--breadcrumb-gap) - var(--separator-width)) / 2),
      1px
    );
  }

  > a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}
