@use "../abstracts/" as *;

.btn {
  // @include reset-button;
  position: relative;
  @include flex-center;
  width: 100%;
  text-align: center;
  border-radius: rem(6);
  font-size: rem(15);
  transition: box-shadow 0.15s ease;

  &.primary {
    position: relative;
    background-color: var(--accents-8);
    color: var(--background);

    &::before {
      display: inline-block;
      content: url("/images/triangle-down.svg");
      margin-right: rem(10);
    }

    & .content {
      padding: 0.625rem 0;
    }
  }

  &.secondary.notShadow {
    @include border-grad;
    background-color: var(--background);
    color: var(--foreground);
  }
}

.gradShadow {
  @include flex-center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-image: linear-gradient(165deg, var(--start), var(--end)); // border
  z-index: -2;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-clip: padding-box;
    background-image: linear-gradient(165deg, var(--start), var(--end));
    opacity: 0.8;

    border-radius: inherit;
    border: 12px solid transparent;
    z-index: -1;

    filter: blur(36px); // for shadow
  }
}

.content {
  padding: rem(10) rem(20);
}

.shadow .content {
  @include flex-center;
  width: 100%;

  background-color: var(--background);
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: inherit;
  color: var(--foreground);
  transition: color 0.15s ease, background-color 0.15s ease;
  z-index: 0;
}

.gradShadow.grad1 {
  --start: #007cf0;
  --end: #00dfd8;
  animation: grad-1-anim 8s infinite;
}

.gradShadow.grad2 {
  --start: #7928ca;
  --end: #ff0080;
  animation: grad-2-anim 8s infinite;
}

.gradShadow.grad3 {
  --start: #ff4d4d;
  --end: #f9cb28;
  animation: grad-3-anim 8s infinite;
}

// keyframes

@keyframes grad-1-anim {
  0%,
  16.667%,
  100% {
    opacity: 1;
  }

  33%,
  83.333% {
    opacity: 0;
  }
}

@keyframes grad-2-anim {
  0%,
  16.667%,
  66.667%,
  100% {
    opacity: 0;
  }

  33.333%,
  50% {
    opacity: 1;
  }
}

@keyframes grad-3-anim {
  0%,
  50%,
  100% {
    opacity: 0;
  }

  66.667%,
  83.333% {
    opacity: 1;
  }
}
