@use "./abstracts/" as *;

.btn {
  @include reset-button;
  width: 100%;
  text-align: center;
  border-radius: rem(6);
  padding: rem(10) rem(20);
  font-size: rem(15);

  &.primary {
    position: relative;
    background: #d9d9d9;
    color: black;

    &::before {
      display: inline-block;
      content: url("/images/triangle-down.svg");
      margin-right: rem(10);
    }
  }

  &.secondary {
    position: relative;
    background-color: white;
    border: 1px solid #007cf0;
    border: 1px solid transparent;
    background-color: transparent;
    background: black;

    /*The background extends to the outside edge of the padding. No background is drawn beneath the border.*/
    background-clip: padding-box;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: -1px; /* same as border width */
      border-radius: inherit; /* inherit container box's radius */
      background: linear-gradient(170deg, #007cf0, #00dfd8);
      z-index: -1;
    }
  }
}
