@use "../abstracts/" as *;

.btn {
  @include reset-button;
  width: 100%;
  text-align: center;
  border-radius: rem(6);
  padding: rem(10) rem(20);
  font-size: rem(15);

  &.primary {
    position: relative;
    background: var(--accents-8);
    color: $bg-color;

    &::before {
      display: inline-block;
      content: url("/images/triangle-down.svg");
      margin-right: rem(10);
    }
  }

  &.secondary {
    background: var(--background);
    @include border-grad;
  }
}
