@use "../abstracts/" as *;

.darkCard {
  position: relative;
  @include flex-column-center;
  gap: rem(25);
  width: 100%;
  min-width: rem(279); //! hardcoded value, should be changed
  max-width: rem(310);
  padding: rem(30);

  color: var(--foreground);
  background: linear-gradient(180deg, #171b25, #090a0c 65.62%);
  border-radius: rem(12);
  text-align: center;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.02), 0 4px 6px rgba(0, 0, 0, 0.02),
    inset 0 0 0 6px #090a0c;
  transition: background 0.15s ease;
  // background: linear-gradient(180deg,#242424,#121212 65.62%);

  &::before {
    --card-border-color: #181c27;
    --glow-color: var(--cyan);

    content: "";
    position: absolute;
    inset: 0;
    padding: 1.2px;

    background: conic-gradient(
      from 180deg at 50% 50%,
      var(--card-border-color) 0deg,
      var(--card-border-color) 176deg,
      var(--glow-color) 193deg,
      var(--card-border-color) 217deg,
      var(--card-border-color) 1turn
    );

    border-radius: inherit;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}

.darkCard__title {
  display: block;
  font-size: rem(19.2);
  font-weight: 400;
  line-height: 1.7rem;
  margin: rem(3) rem(16) rem(1) rem(16);
}

.darkCard__image {
  background-color: #ffffff1c;
  border-radius: rem(1.5);

  & img {
    border-radius: inherit;
    margin: 0 auto;
    filter: brightness(0.99);
  }
}

.darkCard__info {
}

.darkCard__author {
  color: var(--accents-7);
  font-size: rem(15);
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.00894rem;
}

.darkCard__date {
  color: var(--accents-5);
  font-size: rem(14);
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.00831rem;
}

.darkCard__btnGroup {
  --bg-color-book-card: #171a21;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-bottom: rem(2);
}
