@use "../abstracts" as *;

.footer {
  --waves-height: max(
    100px,
    17vw
  ); // no upper limit, maybe use diff img in desktop
  position: relative;
  color: var(--accents-6);
  padding: 0 rem(20);
  text-align: center;
  margin-top: var(--waves-height);

  @include tablet {
    background-color: var(--accents-1);
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: var(--waves-height);
    background: url("/images/footer-waves.svg") bottom no-repeat;
    background-size: cover;

    @include tablet {
      height: 2px;
      background-image: var(--black-blue-grad);
    }
  }
}

.footer__content {
  @include flex-column-center;
  gap: rem(35);
  padding: rem(35) rem(20);

  @include tablet {
    @include flex-row-center;
    padding: rem(60) rem(20) rem(35) rem(20);
  }
}

.footer__logo {
  margin-top: rem(12);

  @include tablet {
    margin-top: 0;
  }
}

.footer__list {
  @include flex-column-center;
  gap: rem(10);

  @include tablet {
    @include flex-row-center;
  }

  @include tablet {
    gap: rem(20);
  }
}

.footer__item {
  width: 100%;

  @include tablet {
    width: auto;
  }
}

.footer__link {
  display: inline-block;
  width: 100%;
  color: inherit;
  transition: color 150ms;

  @include hover {
    color: var(--accents-7);
  }
}

.footer__copy {
  padding: rem(10);
  text-align: center;
  font-size: rem(11.11);
  line-height: rem(24);
  letter-spacing: 0.00831rem;
  color: var(--accents-4);
}
