@use "../variables" as *;
@use "../functions" as *;
@use "../mixins" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(13) rem(30); // rounded values
  background-color: $bg-color;
}

.logo {
  display: inline-block;
}

.iconContainer {
  @include flex-center;
  gap: rem(6);

  & > button {
    @include flex-center;
    width: rem(40);
    height: rem(40);
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.sidebar {
  --header-height: 66px;
  position: absolute;
  inset: var(--header-height) 0 0 auto;
  background-color: lighten($bg-color, 10%);
  min-width: rem(200);
  width: fit-content;
  height: calc(100vh - var(--header-height));
  padding: rem(20);

  &Hidden {
    display: none; // add !important if necessary
  }
}

.nav {
  --nav-spacing: 20px;

  & .navBtn {
    @include reset-button;
  }
}

.navList,
.navItem,
.navSubList {
  @include flex-column;
  gap: var(--nav-spacing);
}

.navList {
  .navItem {
  }
}

.navSubList {
  .navSubItem {
    margin-left: rem(20);
  }
}

.menuTopLine,
.menuBottomLine {
  transform-origin: left;
  transition: 200ms ease-out transform;
}

.closeMenu {
  .menuTopLine {
    transform: rotate(45deg) translate(-5px, -4px);
  }

  .menuBottomLine {
    transform: rotate(-45deg) translate(-5px, 4px);
  }
}
