@use "../abstracts" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(13) rem(30); // rounded values
  position: fixed;
  width: 100%;
  background-color: rgba(var(--background), 0.45);
  backdrop-filter: blur(rem(10));
  z-index: 3;
}

.logo {
  display: inline-block;
}

.iconContainer {
  @include flex-center;
  gap: rem(6);

  & > button {
    @include flex-center;
    width: rem(40); // TODO: remove explicit width
    height: rem(40); // TODO: remove explicit height
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.menu__topLine,
.menu__bottomLine {
  transform-origin: left;
  transition: 200ms ease-out transform;
}

.closeMenu {
  .menu__topLine {
    transform: rotate(45deg) translate(-5px, -4px);
  }

  .menu__bottomLine {
    transform: rotate(-45deg) translate(-5px, 4px);
  }
}
