@use "../abstracts" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(13) rem(30); // rounded values
  background-color: $bg-color;
}

.logo {
  display: inline-block;
}

.iconContainer {
  @include flex-center;
  gap: rem(6);

  & > button {
    @include flex-center;
    width: rem(40); // TODO: remove explicit width
    height: rem(40); // TODO: remove explicit height
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.sidebar {
  position: absolute;
  inset: var(--header-height) 0 0 auto;
  background-color: lighten($bg-color, 10%);
  min-width: rem(200);
  width: fit-content;
  height: calc(100vh - var(--header-height));
  padding: rem(20);
  z-index: 2;

  &Hidden {
    display: none; // add !important if necessary
  }
}

.nav {
  --nav-spacing: 20px;
}

.nav__list,
.nav__item,
.nav__sublist {
  @include flex-column;
  gap: var(--nav-spacing);
}

// .nav__list {
//   .nav__item {
//   }
// }

.nav__sublist {
  .nav__subitem {
    margin-left: rem(20);
  }

  & a {
    width: 100%;
  }
}

.menu__topLine,
.menu__bottomLine {
  transform-origin: left;
  transition: 200ms ease-out transform;
}

.closeMenu {
  .menu__topLine {
    transform: rotate(45deg) translate(-5px, -4px);
  }

  .menu__bottomLine {
    transform: rotate(-45deg) translate(-5px, 4px);
  }
}
