@use "../abstracts/" as *;

.intro {
  @include flex-column-center;
  gap: rem(65);
  width: 100%;
  min-height: min(calc(100vh - var(--header-height)), rem(715));
  max-height: rem(715); // fallback

  @include tablet {
    min-height: min(calc(100vh - var(--header-height)), rem(640));
    max-height: rem(640); // fallback
  }

  @include desktop {
    min-height: min(calc(100vh - var(--header-height)), rem(560));
    max-height: rem(560); // fallback
  }
}

.intro__title {
  @include flex-column;
  margin: 0;
  margin-top: rem(80);
  text-align: center;
  font-size: rem(68);
  font-weight: 800;
  letter-spacing: -0.1275rem;

  @include tablet {
    font-size: rem(80);
  }

  @include desktop {
    flex-direction: row;
    font-size: min(9.83vw, rem(112));
    letter-spacing: -0.06em;
  }

  & > span {
    position: relative;

    &::before {
      content: attr(data-content);
      position: absolute;
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: -10px;
      @include grad-text(
        linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.75))
      );
      inset: 0 0 0 auto;
      z-index: 0;
    }
  }

  & > span > span {
    position: relative;
    @include grad-text(linear-gradient(90deg, var(--start), var(--end)));
    padding-inline: 0.05em;
    z-index: 1;
  }

  &Part1 {
    --start: #007cf0;
    --end: #00dfd8;

    &::before {
      animation: intro-grad-bg-anim-1 8s infinite;
    }
  }

  &Part2 {
    --start: #7928ca;
    --end: #ff0080;

    &::before {
      animation: intro-grad-bg-anim-2 8s infinite;
    }
  }

  &Part3 {
    --start: #ff4d4d;
    --end: #f9cb28;

    &::before {
      animation: intro-grad-bg-anim-3 8s infinite;
    }
  }

  &Text1 {
    animation: intro-grad-foreground-anim-1 8s infinite;
  }
  &Text2 {
    animation: intro-grad-foreground-anim-2 8s infinite;
  }
  &Text3 {
    animation: intro-grad-foreground-anim-3 8s infinite;
  }
}

.intro__description {
  color: var(--accents-5, #a3a3a3);
  text-align: center;
  font-size: rem(18);
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.6em;

  @include tablet {
    padding-inline: 4vw;
    font-size: rem(20);
    line-height: rem(32);
  }

  @include desktop {
    padding-inline: 0;
    font-size: rem(22);
    max-width: 69%;
    line-height: rem(38.4);
    color: #888;
    letter-spacing: -0.02em;
  }
}

.intro__btnGroup {
  @include flex-column-center;
  gap: rem(23);
  width: 100%;
  padding-inline: max(1.3vw, rem(5));

  @include tablet {
    flex-direction: row;
    gap: rem(30);
    max-width: rem(450);
    padding-inline: 0;
  }

  @include desktop {
    max-width: rem(475);
    font-weight: 500;
  }
}

// gradient text foreground
@keyframes intro-grad-foreground-anim-1 {
  0%,
  16.667%,
  100% {
    opacity: 1;
  }

  33.333%,
  83.333% {
    opacity: 0;
  }
}

@keyframes intro-grad-foreground-anim-2 {
  0%,
  100% {
    opacity: 0;
  }

  33.333%,
  50% {
    opacity: 1;
  }
  16.667%,
  66.667% {
    opacity: 0;
  }
}

@keyframes intro-grad-foreground-anim-3 {
  0%,
  50%,
  100% {
    opacity: 0;
  }

  66.667%,
  83.333% {
    opacity: 1;
  }
}

// white text background text

@keyframes intro-grad-bg-anim-1 {
  0%,
  16.667%,
  100% {
    opacity: 0;
  }

  25%,
  91.667% {
    opacity: 1;
  }
}

@keyframes intro-grad-bg-anim-2 {
  0%,
  100% {
    opacity: 1;
  }

  33.333%,
  50% {
    opacity: 0;
  }
  25%,
  58.333% {
    opacity: 1;
  }
}

@keyframes intro-grad-bg-anim-3 {
  0%,
  58.333%,
  91.667%,
  100% {
    opacity: 1;
  }

  66.667%,
  83.333% {
    opacity: 0;
  }
}
