@use "../abstracts/" as *;

.intro {
  @include flex-column-center;
  gap: rem(65);
  width: 100%;
  min-height: min(calc(100vh - var(--header-height)), rem(715));
  max-height: rem(715); //* wrap it in mobile view media query if necessary
  padding: 0 rem(5);
}

.intro__title {
  margin: 0;
  margin-top: rem(80);
  @include flex-column;
  text-align: center;
  font-size: rem(68);
  font-weight: 800;
  letter-spacing: -0.1275rem;

  &Part2 {
    @include grad-text;
  }
}

.intro__description {
  color: var(--black-body-text-color, #a3a3a3);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6875rem; /* 168.75% */
  letter-spacing: 0.01rem;
}

.intro__btnGroup {
  @include flex-column-center;
  gap: rem(23);
}
