@use "../abstracts/" as *;

.documentContainer {
}

.document {
  @include desktop {
    @include flex-row;
    gap: rem(100);
  }
}

.TOC__fullView {
  padding: var(--main-padding);
}

.index {
  padding-block: rem(30);

  & a {
    padding: rem(4);
    width: 100%;
    transition: background-color 150ms;
    border-radius: rem(2);

    @include hover {
      background-color: var(--accents-2);
    }
  }
}

.mySwiper {
  position: relative;
  z-index: 0;
}

.mySwiper__indexContainer {
  @include flex-center;
  position: absolute;
  inset: 0;
  background: var(--accents-2);
  z-index: 10;
}

.mySwiper__index {
  text-align: left;

  & a {
    margin-bottom: rem(15);
  }
}

.mySwiper__index__toggleBtn {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 11;
  color: var(--cyan);
}

.page__backdrop {
  overflow: hidden;
  background: var(--foreground);
}

.pageNumber {
  text-align: center;
  margin-block: rem(10);
}

.navBtns {
  @include flex-center;
  gap: rem(10);

  .nav__previous,
  .nav__next {
    flex-basis: 50%;
    padding: rem(6);
    text-align: center;
    border-radius: rem(2);
    background-color: var(--accents-1);
    transition: background-color 150ms;

    @include hover {
      background-color: var(--accents-2);
    }
  }
}
