@use "../abstracts/" as *;

.semester {
}

.semester__title {
  margin-bottom: rem(66);

  & > span {
    @include grad-text;
  }
}

.semester__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(rem(145), 1fr));
  gap: rem(24);
  grid-auto-rows: max-content;

  font-size: rem(16);
  background-color: $bg-color;
  border-radius: rem(6);
  word-wrap: break-word;
  isolation: isolate; // important for border gradient to work
}

.gridItem {
  display: block;
  padding: rem(25);
  text-align: center;
  color: white;
  background-color: $bg-color;

  @include border-grad($border-width: 0.5px) {
    border-image: linear-gradient($black-blue-grad-border);
  }

  border-radius: rem(7);

  &:hover {
    transform: scale(1); // just to create a new stacking context
  }
}
