@use "../abstracts/" as *;

.subject {
}

.subject__title {
  margin-bottom: rem(66);

  & > span {
    @include grad-text(var(--purple-pink-grad));
  }
}

.subject__grid {
  @include flex-column-center;
  gap: rem(34);
  font-size: rem(16);
  word-wrap: break-word;
  isolation: isolate;
}

.showMore {
  @include flex-row;
  justify-content: center;
  align-items: center;
  gap: rem(10);
  margin-top: rem(50);
  width: 100%; // important

  &::before,
  &::after {
    content: "";
    flex: 1;
    height: 1px;
    background: var(--purple-pink-grad);
  }
}
