@use "../abstracts/" as *;

.subject {
  @include tablet {
    padding-inline: min(rem(158), 10vw);
  }
}

.subject__title {
  margin-bottom: rem(66);

  & > span {
    @include grad-text(var(--purple-pink-grad));
  }
}

.subject__grid {
  @include flex-column-center;
  gap: rem(34);
  font-size: rem(16);
  word-wrap: break-word;
  isolation: isolate;

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    gap: rem(24);
    justify-content: center;
  }
}

.showMore {
  @include flex-row;
  justify-content: center;
  align-items: center;
  gap: rem(10);
  margin-top: rem(50);
  width: 100%; // important

  &::before,
  &::after {
    content: "";
    flex: 1;
    height: rem(1);
    background: var(--purple-pink-grad);
  }

  > svg {
    transition: transform 150ms;
  }
}
