@use "../abstracts/" as *;

.toastWrapper,
.toast,
.toast__icon,
.toast__text,
.toast__close {
  // border: 1px solid dimgray;
}

.toastWrapper {
  --main-margin: 0 1.6875rem;
  border-color: gray;
  position: fixed;
  inset: auto 0 2rem 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: rem(500);
  padding: var(--main-margin);
  z-index: 2;
}

.toast {
  border-color: palevioletred;
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
  padding: 0.4rem 1rem;
  border-radius: rem(3);
  overflow: auto;
  animation: toast-show 0.3s ease-in-out;

  &Success {
    background-color: var(--success-light);
  }

  &Warning {
    background-color: var(--warning);
  }

  &Error {
    background-color: var(--error-light);
  }
}

.toast__icon {
  border-color: yellow;
}

.toast__text {
  border-color: rgb(26, 244, 255);
}

.toast__close {
  border-color: rgb(255, 94, 255);
}

@keyframes toast-show {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
