@mixin flex-row {
  display: flex;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-center {
  display: flex;
  justify-content: center;
}

@mixin flex-column-center {
  display: flex;
  align-items: center;
}

@mixin reset-button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  text-align: left;
}