@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin reset-button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  text-align: left;
}

@mixin grad-text($gradient: var(--black-blue-grad)) {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: $gradient;
}

@mixin border-grad(
  $border-width: 1px,
  $grad-color: (
    #007cf0,
    #00dfd8,
  ),
  $grad-dir: 170deg
) {
  position: relative;
  border: $border-width solid nth($grad-color, 1);
  border: $border-width solid transparent;
  /*The background extends to the outside edge of the padding. No background is drawn beneath the border.*/
  background-clip: padding-box;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -($border-width);
    border-radius: inherit;
    background: linear-gradient($grad-dir, $grad-color);
    z-index: -1;
    @content;
  }
}

// apply hover effects only on non-touch devices
@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

@mixin active {
  @media (hover: hover) and (pointer: fine) {
    &:active {
      @content;
    }
  }
}

@mixin tablet {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}
