$bg-color: #000000;
$text-color: #ffffff;
$black-blue-grad-border: 92deg, #007cf0 -2.85%, #00dfd8 84.03%; // this and variable --black-blue-grad are slightly different
$rose-pink-grad-border: #286fca, #ff0080;
